<link rel='stylesheet' href='/css/profile.css' />

<div class='container'>
	{{#if message}}
		<div class='container__error__message'>
			<h2>
				{{message}}
			</h2>
		</div>
	{{/if}}

	{{#if success_message}}
		<div class='container__success__message'>
			<h2>
				{{success_message}}
			</h2>
		</div>
	{{/if}}

	{{#each contacts}}
		<div class='contact'>
			<form action='/delete_contact' method='post'>
				<input type='hidden' name='contact__id' value='{{this.id}}' />
				<button type='submit'>
					<span class='material-icons'>
						close
					</span>
				</button>
			</form>

			<h1>
				{{this.name}}
			</h1>
			<h3>
				{{this.email}}
			</h3>
			<h3>
				{{this.phone_number}}
			</h3>

		</div>
	{{/each}}

</div>